<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="sqlConnection" connectionString="Data Source=ET-QSH;Initial Catalog=MyTestDB;Persist Security Info=True;User ID=sa;Password=000000;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>